body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, .font--1, .font--2, .font--3, .font--4, .font--5, .font--6, .font--7, .font--8, .font--9, .font--10 {
  line-height: 1.2;
}

h1{
    font-size: 64px;
    @include pad(){
      font-size: 48px;
    }
    @include phone(){
      font-size: 32px;
    }
}

h2{
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;
    @include pad(){
      font-size: 32px;
      margin-bottom: 32px;
    }
    @include phone(){
      font-size: 24px;
      margin-bottom: 20px;
    }
}

h3{
    font-size: 48px;
    @include pad(){
      font-size: 28px;
    }
}
h4{
    font-size: 24px;
    @include pad(){
      font-size: 20px;
    }
}
h5{
  font-size: 72px;
  @include pad(){
    font-size: 32px;
  }
}
h6{
  font-size: 42px;
  @include pad(){
    font-size: 28px;
  }
  @include phone(){
    font-size: 14px;
  }
}
.font--1{
  font-size: 42px;
  display: block;
  @include pad(){
    font-size: 32px;
  }
  @include phone(){
    font-size: 20px;
  }
}
.font--2{
  font-size: 32px;
  display: block;
  margin-bottom: 40px;
  @include pad(){
    font-size: 24px;
    margin-bottom: 32px;
  }
  @include phone(){
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.font--3{
  display: block;
  font-size: 64px;
  @include pad(){
    font-size: 48px;
  }
  @include phone(){
    font-size: 28px;
  }
}
.font--4{
  display: block;
  font-size: 24px;
  @include pad(){
    font-size: 16px;
  }
}
.font--5{
  display: block;
  font-size: 32px;
  margin-bottom: 36px;
  @include phone(){
    font-size: 20px;
    margin-bottom: 12px;
  }
}
.font--6{
  display: block;
  font-size: 20px;
  margin-bottom: 16px;
  @include phone(){
    font-size: 16px;
    margin-bottom: 8px;
  }
}
.font--7{
  display: block;
  font-size: 32px;
  @include pad(){
    font-size: 20px;
  }
  @include phone(){
    font-size: 16px;
  }
}
.font--8{
  display: block;
  font-size: 36px;
  font-weight: bold;
  @include pad(){
    display: none;
  }
}
.font--9{
  display: block;
  font-size: 48px;
  font-weight: bold;
  @include pad(){
    font-size: 32px;
  }
  @include phone(){
    font-size: 20px;
  }
}
.font--10{
  display: block;
  font-size: 28px;
  font-weight: bold;
  @include pad(){
    font-size: 20px;
  }
}

@mixin fontC--constructer($str, $color) {
  .fontC--#{$str} {
    color: $color;
  }
}
@include fontC--constructer('primary', $primary);
@include fontC--constructer('secondary', $secondary);
@include fontC--constructer('third', $third);
@include fontC--constructer('light', $light);
@include fontC--constructer('dark', $dark);