.navbar{
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 88px;
    &__menu{
        display: flex;
        li{
            @include phone(){
                padding-top: 8px;
                padding-bottom: 8px;
                border: 1px solid white;
                width: 50%;
                text-align: center;
            }
            &:hover{
                background-color: $muted;
            }
        }
        li > a {
            color: white;
            text-decoration: none;
            padding: 0 32px;
            @include pad(){
                padding: 0 20px;
            }
        }
        @include phone(){
            flex-wrap: wrap;
            justify-content: stretch;
            width: 100%;
        }
    }
    &__logo{
        h1{
            background-image: url('../images/logo.png');
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 80px;
            height: 48.57px;
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;
            @include phone(){
                margin: 0 auto;               
                max-width: 48px;
                height: 29.14px;
            }
        }
        @include phone(){
            padding: 10px 0 ;
            border-bottom: 1px solid white;
            width: 100%;
            height: 50px;
            // height: auto;
        }
       
    }
    @include pad(){
        padding: 30px 39px;  
    }
    @include phone(){
        padding: 0;
        flex-direction: column;
        height: auto;
    }
}