.storesbanner{
    background-image: url("../images/qa.png");
    // height: 304px;
    background-position: center center;
    background-size: cover;  
    margin-bottom: 16px;
    .container{
        padding-top: 214px;
        display: flex;
        .font--3{
            margin-right: 24px;
            @include pad(){
                margin-right: 16px;
            }
            @include phone(){
                margin-right: 8px;
            }
        }
        img{
            @include pad(){
                max-width: 30px;;
            }
            @include phone(){
                max-width: 16.72px;;
            }
        }
        @include pad(){
            padding-top: 237px;
        }
        @include phone(){
            padding-top: 103px;
        }
    }
}

.area{
    &__top{
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        .font--4{
            margin-right: 20px;
            @include phone(){
                margin-right: 12px;
                font-size: 14px;
            }
        }
        @include pad(){
            margin-bottom: 24px;
        }
        @include phone(){
            margin-bottom: 20px;
        }
    }
    &__select{
        width: 324px;
        position: relative;
        select{
            width: 100%;
            height: 45px;
            border-radius: 0;
        }
        @include pad(){
           width: 237px; 
        }
        @include phone(){
           width: 277px; 
        }
    }
    &__inside{
        display: flex;
        flex-wrap: wrap;
    }
    &__insidesingle{
        display: flex;
        justify-content: center;
        align-items: center;
        iframe{
            @include pad(){
                width: 100%;
            }
        }
        @include pad(){
            flex-direction: column;
        }
    }
    &__card{
        width: 30%;
        margin: 0 15px 32px 15px;
        img{
            display: block;
            width: 350px;
            height: 224px;
        }
        @include pad(){
            width: 44%;
            margin-bottom: 20px;
        }
        @include phone(){
            width: 100%;
            margin-bottom: 16px;
        }
    }
    &__cardsingle{
        margin-right: 30px;
        img{
            display: block;
            width: 445px;
            height: 224px;
            @include pad(){
                width: 50%;
                margin-right: 30px;
                height: 164px;
            }
            @include phone(){
                width: 100%;
            }
        }
        @include pad(){
            display: flex;
            margin-right: 0;
            margin-bottom: 32px;
        }
        @include phone(){
            flex-direction: column;
        }
    }

    &__card, &__cardsingle{
        .font--4{
            display: block;
            width: 100%;
            padding: 12px 24px;
            border-bottom: 1px solid $muted-light;
            a{
                text-decoration: none;
                color: $dark;
            }
        }
    }
    &__container{
        border: 1px solid $muted-light;
    }
    &__detail{
        padding: 16px 24px;
        li{
            display: flex;
            margin-bottom: 8px;
            img{
                width: 21px;
                height: 21px;
                margin-right: 12px;
            }
        }
        @include pad(){
            padding: 16px;
            font-size: 14px;
        }
    }
    &__btn{
        display: inline-block;
        width: 100%;
        background-color: $dark;
        color: $light;
        padding: 20px 0;
        font-size: 19px;
        &:hover{
            background-color: $primary;
        }
    }
}

.areamargin{
    margin-bottom: 304px;
    @include pad(){
        margin-bottom: 104px;
    }
    @include phone(){
        margin-bottom: 56px;
    }
}